bin/
target/
/.settings
.classpath
.project
.springBeans
.factorypath
/terraform/.terraform.lock.hcl
/terraform/k3s/k3s.yaml
/terraform/k3s/k3s.yaml.eksctl.lock
/terraform/.terraform
/terraform/terraform.auto.tfvars
/terraform/master/terraform.auto.tfvars
/terraform/master/.terraform
/terraform/workers/.terraform
/terraform/terraform.tfstate.backup
/packer/master/jenkins_ssh
/packer/master/jenkins_ssh.pub
/gcp/packer/master/service-account.json
/gcp/terraform/service-account.json
/gcp/terraform/.terraform.lock.hcl
/gcp/terraform/k3s/k3s.yaml
/gcp/terraform/k3s/k3s.yaml.eksctl.lock
/gcp/terraform/.terraform
/gcp/terraform/terraform.auto.tfvars
/gcp/terraform/master/terraform.auto.tfvars
/gcp/terraform/master/.terraform
/gcp/terraform/workers/.terraform
/gcp/terraform/terraform.tfstate.backup